<style>

* {
    padding: 0;
    margin: 0;
}

/* portrait mode warning */
#warning-message { display: none; 
background-color: black;
color:white;
font-size:30px;
}

@media only screen and (orientation:portrait){
.outer { display:none; }
#warning-message { display:block; }

 }

@media only screen and (orientation:landscape){
        #warning-message { display:none; }

    }
    
    
    
@font-face {
    font-family: 'PxPlus IBM CGA';
    src: url('PxPlus_IBM_CGA.woff2') format('woff2'),
        url('PxPlus_IBM_CGA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


    
html {
    cursor: url('images/egg.cur'), default;
    
}

body {
    cursor: url('images/egg.cur'), default;
    height: 100%;
    width: 100%;
    background-color: #ffb355;
}
    
    
    
    
    
.outer {
    
}

.title {
    font-family: 'PxPlus IBM CGA', mono;
}

.banner {
        position: relative;
        top: 1%;
        width: 65%;
        left: 17.5%;
        padding-bottom: 1%;
}

.flexy {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: -8px;
    width: 60%;
    left: 15%;
    top: 20%;
    position: relative;
    
}


    .flexy >* {
        flex: 1 0 25%;
        margin: 8px;
    }


     .item {
            cursor: url('images/brite-egg.cur'), pointer;
            padding-left: 5%;
            padding-top: 5%;
            padding-bottom: 5%;
            border: 5px dotted #ff29f5;
            position: relative;
    }


    .butto {
            background: rgba(241,177,255,1);
            color: black;
            font-size: 26px;
            font-style: bold;

        }
        
           
        
             .butto:hover {
                background: url('images/confetti-lite2.gif');
                color: white;
                    }
                    
        
        
        .number {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 7;
            background: rgba(248, 200, 255, 1);
            color: black;
            padding: 5%;
            
        }
        
            .number:hover {
             background: rgba(0,0,0,0);  
             color: rgba(0,0,0,0);
             
            }
            
            .nine {
                position: absolute;
                font-size: 20px;
            }
            
            .nine:before {
                content: 'nine';
            }
            
            .seventeen {
                position: absolute;
                color: white;
                font-size: 20px;
            }
            
            .seventeen:before {
                content: 'seventeen';
            }

            
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: underline;
}

/* youtube */

.youtube-responsive-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

.youtube-responsive-container iframe, 
.youtube-responsive-container object, 
.youtube-responsive-container embed {
position:absolute;
width:100%;
height:100%;
}

</style>

